@page "/about"
@using LongDistanceService.Web.Models.Scenario.Abstract
@using LongDistanceService.Web.Routes
@using LongDistanceService.Web.Services
@using LongDistanceService.Web.Services.Abstract

<div style="width: 70%; text-align: center; margin: auto; padding-top: 10%">
    <h3 class="fw-bold">О программе</h3>
    <div style="text-align: left">
        <p>Курсовая работа по дисциплине 'Базы данных'
            <br>
            Выполнил:
            <br>
            Студент: Семенов Максим Дмитриевич
            <br>
            Группа: АВТ-213
            <br>
            Данная программа является программой для работы с базой данных
            <br>
            Грузовые автоперевозки
            <br>
            Лицензия: бесплатная программа для некоммерческого пользования.</p>
    </div>
</div>
@code {
    public IAuthResult? AuthResult { get; set; }
    [Inject] public IScenarioService ScenarioService { get; set; } = null!;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        AuthResult = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);

        if (AuthResult == null)
        {
            NavigationManager.NavigateTo(ServiceRoutes.Home);
            await base.OnInitializedAsync();
        }
    }
}