@attribute [Route(template: ServiceRoutes.Identity.LoginType)]
@using LongDistanceService.Web.Models.Identity
@using LongDistanceService.Web.Components.Layout
@using LongDistanceService.Web.Routes
@using LongDistanceService.Web.Services.Abstract

@layout EmptyLayout

<PageTitle>Login</PageTitle>

<div>
    <div class="intro"></div>
    @if (Type == "admin")
    {
        <image class="media" src="res/trucker.gif" autoplay muted loop></image>
    }
    @if (Type != "admin"){
        <image class="media" src="res/road.jpg" autoplay muted loop></image>
    }
    
    <div class="shell">
        <div class="login">
            <div class="loginTitle loginText">
                <h1>ГРУЗОВЫЕ АВТОПЕРЕВОЗКИ</h1>
            </div>

            <div class="loginCenter">
                <div class="loginCenterLogo">
                    <img src="https://lucaclinic.ru/bitrix/templates/main/planeta.png" alt="no"/>
                </div>
                <div class="loginCenterForm loginText">

                    <EditForm class="login-form" Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                        <DataAnnotationsValidator/>
                        @* <ValidationSummary class="text-danger" role="alert"/> *@
                        <div>
                            <h3 class="loginText" style="color:aliceblue">Вход в сервис для Администратора</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                            <label for="email" class="form-label">Почта</label>
                            <ValidationMessage For="() => Input.Email" class="text-danger"/>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                            <label for="password" class="form-label">Пароль</label>
                            <ValidationMessage For="() => Input.Password" class="text-danger"/>
                        </div>
                        <div>
                            <button type="submit" class="w-100 btn btn-dark btn-lg">ВХОД</button>
                        </div>
                        <div>
                            @* <p> *@
                            @*     <a href="Account/ForgotPassword">Forgot your password?</a> *@
                            @* </p> *@
                            @* <p> *@
                            @*     <a class="link-light loginText" href="@(NavigationManager.GetUriWithQueryParameters("identity/register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Зарегистрироваться</a> *@
                            @* </p> *@
                        </div>
                    </EditForm>
                </div>
                <div class="loginCenterSocial loginText">
                    <h4>входи через ВТентакли</h4>
                </div>
            </div>

            <div class="loginFooter loginText">
                <h5>сайт мистера максонелиуса 2k24</h5>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Type { get; set; } = string.Empty;
    [SupplyParameterFromQuery] public string? ReturnUrl { get; set; }
    [SupplyParameterFromForm] public LoginModel Input { get; set; } = new();

    [Inject] public IIdentityService IdentityService { get; set; } = null!;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;
    [Inject] public IScenarioService ScenarioService { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        if ((new List<string>() { "admin", "user" }).All(x => x != Type))
        {
            NavigationManager.NavigateTo(ServiceRoutes.Codes.NotFound);
        }

        var result = await ScenarioService.TryAuthenticateUserAsync(returnUrl: ReturnUrl ?? string.Empty, tryRefreshToken: true, redirectToLogin: false);
        
        if (result != null)
            NavigationManager.NavigateTo(ReturnUrl ?? ServiceRoutes.Home);
    }

    public async Task LoginUser()
    {
        var result = await IdentityService.SignInAsync(Input.Email, Input.Password);
        if (result != null)
        {
            IdentityService.AddRefreshToken(result.Value, Input.Email);
            NavigationManager.NavigateTo(ReturnUrl ?? ServiceRoutes.Home);
            
        }
        else 
            NavigationManager.NavigateTo(ServiceRoutes.Codes.NotFound);
    }

}