@page "/"
@using LongDistanceService.Domain.Models.Abstract
@using LongDistanceService.Web.Services.Abstract
@using LongDistanceService.Domain.Services.Abstract

@using LongDistanceService.Web.Models.Scenario.Abstract
@using LongDistanceService.Web.Routes

<PageTitle>Home</PageTitle>

<div style="text-align: center; width: 100%;">
    <h1>Сервис грузовых автоперевозок</h1>
    @if (AuthResult != null)
    {
        <form method="post" @onsubmit="LogOut" Context="lol" @formname="logout">
            <button type="submit" class="w-50 btn btn-lg btn-primary">ВЫХОД</button>
            <AntiforgeryToken/>
        </form>
    }
</div>


@code{
    [Inject] public IIdentityService IdentityService { get; set; } = null!;
    [Inject] public IPasswordHasher PasswordHasher { get; set; } = null!;
    [Inject] public IScenarioService ScenarioService { get; set; } = null!;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;

    public IAuthResult? AuthResult { get; set; }
    public IUserRights? UserRights { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthResult = await ScenarioService.TryAuthenticateUserAsync(tryRefreshToken: true, redirectToLogin: true);

    }
    
    public async Task LogOut()
    {
        await IdentityService.SignOutAsync();
        NavigationManager.NavigateTo(ServiceRoutes.Home);
    }
}