/.idea
*/obj
*/bin
/ForExample
/LongDistanceService.Web/EXCEL
/LongDistanceService.Web/WORD
/environments/lds_docker/prometheus
/environments/lds_docker/tempo-data
/LongDistanceService.Api/appsettings.json
/environments/lds_docker/nginx/logs/access.log
/environments/lds_docker/nginx/logs/error.log
