@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="flex-grow: 0; flex-shrink: 0;">
        <NavMenu/>
    </div>

    <main style="flex: 1; overflow: hidden">
                @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>