@using LongDistanceService.Web.Routes
@attribute [Route(ServiceRoutes.Reference.Blank)]


<div class="gradientAnimation animationBox"></div>
<div class="messageBox">
    <h3 class="message">
        Скоро здесь будет информация о таблице <span style="color: #b6effb">@Type</span>
    </h3>
</div>

@code {
    [Parameter] public string Type { get; set; } = null!;
}