.box{
    width: 100%;
    text-align: center;
}

.propertiesList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.propertiesColumn{
    width: 370px;
    margin: 10px;
    text-align: left;
}

.propertiesColumn h4{
    text-indent: 20px;
}

.vehicleImage{
    justify-content: right;
    height: 300px;
}

.vehicleImage img{
    height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}